$nav__menu__item_color: #83888F;
$nav__menu__item_color__hover: #333D4B;
$main-color: #FEFCF7;
$link-bg: #0E8784;
$link-hover-bg: #66D2CF;
$hero-bg: #A2A2A2;
$choose-us-bg: #2C343E;
$How-it-work-heading: #FDD6BA;
$order-item-bg: #F4F1EB;
