.collection {
    padding-top: 212px;
    padding-bottom: 200.45px;

    &__wrapper {

        &__heading {
            background-color: $nav__menu__item_color;
            font-family: 'Fraunces 9pt';
            font-weight: 900;
            font-size: 150px;
            line-height: 110px;
            text-align: center;
            opacity: 0.4;
            color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
        }

        &__list {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            list-style-type: none;
            position: relative;
            top: -45px;

            &__item {
                img {
                    margin-bottom: 71px;
                }

                &__contents{

                    &__heading {
                        font-family: 'Fraunces 9pt';
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 32px;
                        text-align: center;
                        color: $nav__menu__item_color__hover;
                        margin-bottom: 24px;
                    }
    
                    &__text {
                        font-family: 'Barlow';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        color: $nav__menu__item_color__hover;
                        max-width: 255px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 996px) {
    .collection {
        padding-top: 212px;
        padding-bottom: 129px;

        &__wrapper {

            &__heading {
                background-color: $nav__menu__item_color;
                font-family: 'Fraunces 9pt';
                font-weight: 900;
                font-size: 96px;
                line-height: 72px;
                text-align: center;
                opacity: 0.4;
                color: transparent;
                -webkit-background-clip: text;
                background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
            }

            &__list {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                list-style-type: none;
                position: relative;
                top: -30px;
                justify-content: center;

                &__item {
                    max-width: 653px;
                    display: flex;
                    margin: auto;
                    img {
                        margin-bottom: 71px;
                    }


                    &__contents{
                        max-width: 325px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        &__heading {
                            font-family: 'Fraunces 9pt';
                            font-weight: 900;
                            font-size: 24px;
                            line-height: 32px;
                            color: $nav__menu__item_color__hover;
                            margin-bottom: 24px;
                        }

                        &__text {
                            font-family: 'Barlow';
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 25px;
                            text-align: left;
                            color: $nav__menu__item_color__hover;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 696px){
    .collection {
        padding-top: 212px;
        padding-bottom: 200.45px;
    
        &__wrapper {
            overflow-x: hidden;
            &__heading {
                background-color: $nav__menu__item_color;
                font-family: 'Fraunces 9pt';
                font-weight: 900;
                font-size: 70px;
                line-height: 92px;
                text-align: center;
                opacity: 0.4;
                color: transparent;
                -webkit-background-clip: text;
                background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
            }
    
            &__list {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                list-style-type: none;
                position: relative;
                top: 10%;
    
                &__item {
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin-bottom: 71px;
                    }
    
                    &__contents{
                        max-width: 282px;
                        &__heading {
                            font-family: 'Fraunces 9pt';
                            font-weight: 900;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: center;
                            margin: auto;
                            color: $nav__menu__item_color__hover;
                            margin-bottom: 24px;
                            max-width: 282px;
                        }
        
                        &__text {
                            font-family: 'Barlow';
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 25px;
                            text-align: center;
                            color: $nav__menu__item_color__hover;
                            max-width: 255px;
                        }
                    }
                }
            }
        }
    }
}